# Data Science Notebook

## Introduction
This notebook contains various exercises related to Data Science concepts, including programming languages, libraries, tools, and arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Tool            | Description                |
|-----------------|----------------------------|
| Jupyter Notebook | Interactive computing tool |
| RStudio          | IDE for R programming      |
| Apache Spark     | Big Data processing         |
| TensorFlow       | Machine learning library    |
| Tableau          | Data visualization tool     |

## Arithmetic Expressions Examples
Here are some examples of arithmetic expressions:

- **Addition:** 3 + 5 = 8  
- **Subtraction:** 10 - 4 = 6  
- **Multiplication:** 2 * 3 = 6  
- **Division:** 15 / 3 = 5

In [ ]:
# Multiply and add numbers
a = 5
b = 3

# Multiplication
multiplication_result = a * b

# Addition
addition_result = a + b

print("Multiplication result:", multiplication_result)
print("Addition result:", addition_result)

In [ ]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

In [ ]:
# List of Objectives
objectives = [
    "Learn Python basics",
    "Understand Data Science concepts",
    "Practice with Jupyter Notebook",
    "Master data visualization techniques",
    "Implement machine learning models"
]

print("Data Science Objectives:")
for objective in objectives:
    print("-", objective)

## Author
**Diego Cort√©s Hurtado**